services:

####### MARIADB ########
  mariadb:
    build:
      context: ./requirements/mariadb
      dockerfile: Dockerfile
    container_name: mariadb
    image: mariadb
    env_file:
      - .env
    expose:
      - "3306"
    volumes:
      - db:/var/lib/mysql
    networks:
      - inception_net
    restart: always
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 30s
      retries: 5
      start_period: 30s

####### WORDPRESS ########
  wordpress:
    build: ./requirements/wordpress
    container_name: wordpress
    image: wordpress
    volumes:
      - wp:/var/www/html
    depends_on:
      mariadb:
        condition: service_healthy
    env_file:
      - .env
    networks:
      - inception_net
    expose:
      - "9000"
    restart: on-failure
    healthcheck:
      test: ["CMD", "cgi-fcgi", "-bind", "-connect", "localhost:9000"]
      interval: 10s
      timeout: 40s
      retries: 5
      start_period: 30s

####### NGINX ########
  nginx:
    build: ./requirements/nginx
    container_name: nginx
    image: nginx
    volumes:
      - wp:/var/www/html
    ports:
      - 443:443
    networks:
      - inception_net
    depends_on:
      wordpress:
        condition: service_healthy
    restart: on-failure

####### VOLUMES ########
volumes:
  db:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${HOME}/data/mysql
  wp:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${HOME}/data/wordpress

####### NETWORKS ########
networks:
  inception_net:
    driver: bridge
